.Impact{
    display: flex;
    justify-content: center;
    .ContenuImpact{
        width: 80%;
        .Titre_Impact{
            svg{
                width: 45px;
                fill:$Vert
            }
            p{
                color: $VertF;
            }
        }
        .Contenu_Text_Impact{
            .FirstL_Impact{
                
            }
            .Text_Impact{
                aspect-ratio: 12/1;
                svg{
                    width: 45px;
                    fill:$Vert
                }
                p{
                    color: $VertF
                }
            }
        }
    }
}