.Ingredients{
    width: 100%;
    background-color: $Vert;
    padding: 90px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Titre_Ingre{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: $blanc;
            margin-bottom: 20px;
        }
        p{
            color: $VertF;
            margin-bottom: 50px;
        }
    }
    .Tous_Ingre{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 60px;
        text-align: center;
        .Ingredient{
            display: flex;
            flex-direction: column;
            align-items: center;
            .Image_Ingre{
                width: 100%;
                aspect-ratio: 1/1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 1s;
                }
                img:hover{
                    transform: scale(1.1);
                }
            }
            .Texte_Ingre{
                display: flex;
                flex-direction: column;
                align-items: center;
                .Num{
                    width: fit-content;
                    text-align: center;
                    background-color: $blanc;
                    border-radius: 100%;
                    margin-bottom: 20px;
                    p{
                        padding: 15px 20px;
                        color: $VertF;
                    }
                }
                h3{
                    color: $VertF;
                }
            }
        }
    }
    button{
        width: fit-content;
        padding: 17px 70px;
        border: 0px solid;
        background-color: $VertF;
        color: $blanc;
    }
}