.PlusInfo{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 120px 200px;
    .Image_Chef{
        img{
            width: 420px;
        }
    }
    .Text_PlusInfo{
        min-width: 500px;
        padding-left: 50px;
        padding-top: 50px;
        h2{
            color: $VertF;
            margin-bottom: 50px;
        }
        p{
            color: $VertF;
            line-height: 36px;
            margin-bottom: 30px;
        }
        button{
            padding: 17px 20px;
            border: 0px solid;
            background-color: $VertF;
            color: $blanc;
        }
    }
}