.Robot300{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.Robot400{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.Robot700{
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.Oswald400{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.Dancing700{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.font140{
    font-size: 140px;
}

.font60{
    font-size: 60px;
}

.font50{
    font-size: 50px;
}

.font35{
    font-size: 35px;
}

.font30{
    font-size: 30px;
}

.font18{
    font-size: 18px;
}

.font15{
    font-size: 15px;
}

.font14{
    font-size: 14px;
}