button {
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.Robot300 {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

.Robot400 {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.Robot700 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}

.Oswald400 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.Dancing700 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}

.font140 {
  font-size: 140px;
}

.font60 {
  font-size: 60px;
}

.font50 {
  font-size: 50px;
}

.font35 {
  font-size: 35px;
}

.font30 {
  font-size: 30px;
}

.font18 {
  font-size: 18px;
}

.font15 {
  font-size: 15px;
}

.font14 {
  font-size: 14px;
}

nav {
  position: Fixed;
  z-index: 999 !important;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
nav .ContenuNav {
  width: 93%;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .ContenuNav .Navigation {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .ContenuNav .Navigation .BoutonNav {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
nav .ContenuNav .Navigation .BoutonNav a {
  text-decoration: none;
  color: #445b4b;
}
nav .ContenuNav .Navigation button {
  padding: 17px 45px;
  border: 0px solid;
  background-color: #445b4b;
  color: #ffffff;
}
nav .ContenuNav img {
  width: 140px;
}

.Intro {
  background: url("/style/img/poke_set_hero_image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Intro .ContenuIntro {
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Intro .ContenuIntro h1, .Intro .ContenuIntro h2 {
  margin-bottom: 50px;
}
.Intro .ContenuIntro button {
  width: fit-content;
  padding: 20px 60px;
  border: 0px solid;
  background-color: #445b4b;
  color: #ffffff;
}

.Ingredients {
  width: 100%;
  background-color: #cee4b0;
  padding: 90px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Ingredients .Titre_Ingre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Ingredients .Titre_Ingre h2 {
  color: #ffffff;
  margin-bottom: 20px;
}
.Ingredients .Titre_Ingre p {
  color: #445b4b;
  margin-bottom: 50px;
}
.Ingredients .Tous_Ingre {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 60px;
  text-align: center;
}
.Ingredients .Tous_Ingre .Ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Ingredients .Tous_Ingre .Ingredient .Image_Ingre {
  width: 100%;
  aspect-ratio: 1/1;
}
.Ingredients .Tous_Ingre .Ingredient .Image_Ingre img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s;
}
.Ingredients .Tous_Ingre .Ingredient .Image_Ingre img:hover {
  transform: scale(1.1);
}
.Ingredients .Tous_Ingre .Ingredient .Text_Ingre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Ingredients .Tous_Ingre .Ingredient .Text_Ingre .Num {
  width: fit-content;
  text-align: center;
  background-color: #ffffff;
  border-radius: 100%;
  margin-bottom: 20px;
}
.Ingredients .Tous_Ingre .Ingredient .Text_Ingre .Num p {
  padding: 15px 20px;
  color: #445b4b;
}
.Ingredients .Tous_Ingre .Ingredient .Text_Ingre h3 {
  color: #445b4b;
}
.Ingredients button {
  width: fit-content;
  padding: 17px 70px;
  border: 0px solid;
  background-color: #445b4b;
  color: #ffffff;
}

.PlusInfo {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 120px 200px;
}
.PlusInfo .Image_Chef img {
  width: 420px;
}
.PlusInfo .Text_PlusInfo {
  max-width: 550px;
  padding-left: 50px;
  padding-top: 50px;
}
.PlusInfo .Text_PlusInfo h2 {
  color: #445b4b;
  margin-bottom: 50px;
}
.PlusInfo .Text_PlusInfo p {
  color: #445b4b;
  line-height: 36px;
  margin-bottom: 30px;
}
.PlusInfo .Text_PlusInfo button {
  padding: 17px 20px;
  border: 0px solid;
  background-color: #445b4b;
  color: #ffffff;
}

.Livraison {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
}
.Livraison .ContenuLivraison {
  width: 80%;
  display: flex;
  justify-content: center;
}
.Livraison .ContenuLivraison .Info_Livraison {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Livraison .ContenuLivraison .Info_Livraison .Text_Livraison {
  max-width: 620px;
  padding: 50px 0px;
  margin-right: 70px;
}
.Livraison .ContenuLivraison .Info_Livraison .Text_Livraison h2 {
  color: #445b4b;
  margin-bottom: 50px;
}
.Livraison .ContenuLivraison .Info_Livraison .Text_Livraison p {
  width: 500px;
  color: #445b4b;
  line-height: 36px;
  margin-bottom: 30px;
  text-align: left;
}
.Livraison .ContenuLivraison .Info_Livraison .Image_Entreprise {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.Livraison .ContenuLivraison .Info_Livraison .Image_Entreprise img {
  width: 130px;
  transition: transform 0.2s;
}
.Livraison .ContenuLivraison .Info_Livraison .Image_Entreprise img:hover {
  transform: scale(1.1);
}
.Livraison .ContenuLivraison .Image_Livreur img {
  width: 500px;
}

.InfoEntreprise {
  width: 100%;
  max-height: fit-content;
  background-image: url(/style/img/plants_clostup_background.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 120px 0px;
}
.InfoEntreprise .ContenuInfoEntr {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}
.InfoEntreprise .ContenuInfoEntr .Info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.InfoEntreprise .ContenuInfoEntr .Info .Icon_InfEntr {
  width: 100%;
  aspect-ratio: 3/1;
}
.InfoEntreprise .ContenuInfoEntr .Info .Icon_InfEntr svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.InfoEntreprise .ContenuInfoEntr .Info .Icon_InfEntr svg path {
  fill: #ffffff;
}
.InfoEntreprise .ContenuInfoEntr .Info p {
  color: #ffffff;
  margin-top: 30px;
}
.InfoEntreprise .ContenuInfoEntr .BorderInf {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.Impact {
  display: flex;
  justify-content: center;
}
.Impact .ContenuImpact {
  width: 80%;
}
.Impact .ContenuImpact .Titre_Impact svg {
  width: 45px;
  fill: #cee4b0;
}
.Impact .ContenuImpact .Titre_Impact p {
  color: #445b4b;
}
.Impact .ContenuImpact .Contenu_Text_Impact .Text_Impact {
  aspect-ratio: 12/1;
}
.Impact .ContenuImpact .Contenu_Text_Impact .Text_Impact svg {
  width: 45px;
  fill: #cee4b0;
}
.Impact .ContenuImpact .Contenu_Text_Impact .Text_Impact p {
  color: #445b4b;
}

/*# sourceMappingURL=Style.css.map */
