.Robot300 {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

.Robot400 {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.Robot700 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}

.Oswald400 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.Dancing700 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}

.font140 {
  font-size: 140px;
}

.font60 {
  font-size: 60px;
}

.font50 {
  font-size: 50px;
}

.font35 {
  font-size: 35px;
}

.font30 {
  font-size: 30px;
}

.font18 {
  font-size: 18px;
}

.font15 {
  font-size: 15px;
}

.font14 {
  font-size: 14px;
}

nav {
  position: Fixed;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
nav .ContenuNav {
  width: 93%;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .ContenuNav .Navigation {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .ContenuNav .Navigation .BoutonNav {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
nav .ContenuNav .Navigation .BoutonNav a {
  text-decoration: none;
  color: #445b4b;
}
nav .ContenuNav .Navigation button {
  padding: 17px 45px;
  border: 0px solid;
  background-color: #445b4b;
  color: #ffffff;
}
nav .ContenuNav .Navigation button:hover {
  padding: 19px 48px;
}
nav .ContenuNav img {
  width: 140px;
}

.Intro {
  background: url("/style/img/poke_set_hero_image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Intro .ContenuIntro {
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Intro .ContenuIntro h1, .Intro .ContenuIntro h2 {
  margin-bottom: 50px;
}
.Intro .ContenuIntro button {
  width: fit-content;
  padding: 20px 60px;
  border: 0px solid;
  background-color: #445b4b;
  color: #ffffff;
}

.Ingredients {
  background-color: #cee4b0;
  padding: 90px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Ingredients .Titre_Ingre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Ingredients .Titre_Ingre h2 {
  color: #ffffff;
  margin-bottom: 20px;
}
.Ingredients .Titre_Ingre p {
  color: #445b4b;
  margin-bottom: 50px;
}
.Ingredients .Tous_Ingre {
  display: flex;
  margin-bottom: 60px;
  text-align: center;
}
.Ingredients .Tous_Ingre .Ingredient {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.Ingredients .Tous_Ingre .Ingredient img {
  width: 292px;
}
.Ingredients .Tous_Ingre .Ingredient img:hover {
  width: 310px;
}
.Ingredients .Tous_Ingre .Ingredient .Texte_Ingre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Ingredients .Tous_Ingre .Ingredient .Texte_Ingre .Num {
  width: fit-content;
  text-align: center;
  background-color: #ffffff;
  border-radius: 100%;
  margin-bottom: 20px;
}
.Ingredients .Tous_Ingre .Ingredient .Texte_Ingre .Num p {
  padding: 15px 20px;
  color: #445b4b;
}
.Ingredients .Tous_Ingre .Ingredient .Texte_Ingre h3 {
  color: #445b4b;
}
.Ingredients button {
  width: fit-content;
  padding: 17px 70px;
  border: 0px solid;
  background-color: #445b4b;
  color: #ffffff;
}

/*# sourceMappingURL=Style.css.map */
